body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1F2937;
}

p.main{
    color: #F9FAF8;
    font-size: 48px;
}

P.secondary{
    color: #E5E7EB;
    font-size: 18px;
}

div.Hero{
    background-color: #1F2937;
}


.nav-bar{
    background-color: #1F2937;
    margin: 0;
    margin-top: 1%;
    padding: 1%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;

}

.nav-links{
  display: flex;
  justify-content:space-evenly;
  margin-right: 20%;
}

.nav-logo{
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bolder;
    margin-left: 5%;
}

.nav {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    padding: 4%;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
}

.nav a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
}

.nav a:hover{
  background-color: #3882F6;
  border-radius: 10%;
  padding: 5%;
}

.btn{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 10%;
    display: block;
    border: none;
    margin-top: 5%;;
    padding: 1.5%;
}

.btn:hover{
    cursor: pointer;
}

.Hero{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5%;
}

img{
    margin: 30px;
    height: 300px;
    width: 500px;
}

.info{
    background-color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.head-info{
    background-color: #F9FAF8;
    text-align: center;
    font-size: 36px;
    padding-top: 5%;
    padding-bottom: 0;
    color: #1F2937;
    font-weight: bolder;
}

.img-box{
    border: solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.box{
    padding: 5%;
    padding-top: 0;
}

.text-box{
    margin-top: 5%;
}

.quote-box{
    padding: 10%;
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
    padding: 5%;
    text-align: justify;
}

.quote-sign{
   font-weight: bolder;
   text-align: right;
   padding: 5%;
   padding-top: 0;
}

.action{
    background-color: #F9FAF8;
    padding: 10%;
}

.banner{
    background-color: #3882F6;
    padding: 5%;
    border-radius: 25px;
    color: #F9FAF8;
}

.banner-heading{
    font-weight: bold;
}

.banner-inner{
    display: flex;
    justify-content: space-between;
}

.banner-inner-btn{
    background-color: #3882F6;
    border: solid #F9FAF8;
    border-radius: 25px;
    padding: 1%;
    color: #F9FAF8;
}

.footer{
    text-align: center;
    color: #F9FAF8;
    padding: 2%;
}

